<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="js">
    <!-- Vendor JS Files -->
    <script th:src="@{/js/bootstrap/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/glightbox/glightbox.min.js}"></script>
    <script th:src="@{/js/purecounter/purecounter_vanilla.js}"></script>
    <script th:src="@{/js/swiper/swiper-bundle.min.js}"></script>
    <script th:src="@{/js/aos/aos.js}"></script>
    <script th:src="@{/js/isotope-layout/isotope.pkgd.min.js}"></script>
    <script th:src="@{/js/validate.js}"></script>

    <!-- Template Main JS File -->
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/jquery.min.js}"></script>
</div>
</body>
</html>
