<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- ======= Head ======= -->
<head th:replace="~{fragments/head::head}"></head></head>

<body class="blog-page" data-bs-spy="scroll" data-bs-target="#navmenu">

<!-- ======= Header ======= -->
<header id="header" class="header sticky-top d-flex align-items-center"
        style="padding: 0">
    <div class="container-fluid d-flex align-items-center justify-content-between">
        <a href="/" class="logo d-flex align-items-center me-auto me-xl-0">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <h1>Be Active</h1>
            <span>!</span>
        </a>
        <!-- Nav Menu -->
        <nav th:replace="~{fragments/navbar :: navbar}"></nav>
        <!-- End Nav Menu -->
        <a></a>
    </div>
</header><!-- End Header -->

<main id="main">



    <!-- Blog Page Title & Breadcrumbs -->
    <div data-aos="fade" class="page-title">
        <div class="heading p-4">
            <div class="container ">
                <div class="row d-flex justify-content-center text-center">
                    <div class="col-lg-8">
                        <h1 th:text="${message}">File size exceeds the maximum allowed size of 1MB.</h1>
                        <p class="mb-0">Please choose a smaller file and try again.</p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Page Title -->

</main>


<!-- ======= Footer ======= -->
<footer th:replace="~{fragments/footer :: footer}"></footer><!-- End Footer -->

<!-- ======= JS ======= -->
<div th:replace="~{fragments/js :: js}"></div><!-- End JS -->

</body>

</html>