<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<!-- ======= Head ======= -->
<head th:replace="~{fragments/head::head}"></head>

<body class="index-page" data-bs-spy="scroll" data-bs-target="#navmenu">

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center" style="padding: 0">
    <div class="container-fluid d-flex align-items-center justify-content-between">

        <a href="/" class="logo d-flex align-items-center me-auto me-xl-0">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <h1>Be Active</h1>
            <span>!</span>
        </a>

        <!-- Nav Menu -->
        <nav th:replace="~{fragments/navbar :: navbar}"></nav>
        <!-- End Nav Menu -->

        <a></a>

    </div>
</header><!-- End Header -->

<main id="main">

    <!-- Hero Section - Home Page -->
    <section id="hero" class="hero">
        <img class="background-img" src="/images/hero-bg.jpg" alt="" data-aos="fade-in">

        <!-- Registration 2 - Bootstrap Brain Component -->
        <div class="bg-light py-2 py-md-3" id="auth-register">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-6">
                        <div class="bg-white p-4 p-md-5 rounded shadow-sm">
                            <div class="row">
                                <div class="col-12 d-flex justify-content-center">
                                    <div class="mb-5 text-center">
                                        <h2 class="h3" style="color: coral">Registration</h2>
                                        <h3 class="fs-6 fw-normal text-secondary m-0">Enter your details to
                                            register</h3>
                                    </div>
                                </div>
                            </div>
                            <form th:method="post"
                                  th:action="@{/users/register}"
                                  th:object="${registerDTO}">
                                <div class="row gy-3 gy-md-4 overflow-hidden">
                                    <div class="col-12">
                                        <input th:field="*{firstName}"
                                               th:errorclass="is-invalid"
                                               type="text"
                                               class="form-control form-control-sm"
                                               name="firstName"
                                               id="firstName"
                                               placeholder="First name"
                                               required/>
                                        <p class="invalid-feedback errors alert alert-danger text-black-50"
                                           style="font-size: unset">
                                            First name is required and should be between 2 and 20 symbol.
                                        </p>
                                    </div>
                                    <div class="col-12">
                                        <input th:field="*{lastName}"
                                               th:errorclass="is-invalid"
                                               type="text"
                                               class="form-control form-control-sm"
                                               name="lastName"
                                               id="lastName"
                                               placeholder="Last name"
                                               required/>
                                        <p class="invalid-feedback errors alert alert-danger text-black-50"
                                           style="font-size: unset">
                                            Last name is required and should be between 2 and 20 symbol.
                                        </p>
                                    </div>

                                    <div class="col-12">
                                        <input th:field="*{username}"
                                               th:errorclass="is-invalid"
                                               type="text"
                                               class="form-control form-control-sm"
                                               name="username"
                                               id="username"
                                               placeholder="Username"
                                               required/>
                                        <p class="invalid-feedback errors alert alert-danger text-black-50"
                                           style="font-size: unset">
                                            Username name is required and should be between 2 and 20 symbol.
                                        </p>
                                    </div>

                                    <div class="col-12">
                                        <input th:field="*{email}"
                                               th:errorclass="is-invalid"
                                               type="email"
                                               class="form-control form-control-sm"
                                               name="email"
                                               id="email"
                                               placeholder="name@example.com"
                                               required>
                                        <div class="invalid-feedback errors alert alert-danger">
                                            <div
                                                    th:if="${#fields.hasErrors('email')}"
                                                    th:errors="*{email}" class="errors">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <input th:field="*{password}"
                                               th:errorclass="is-invalid"
                                               type="password"
                                               class="form-control form-control-sm"
                                               name="password"
                                               id="password"
                                               placeholder="Password"
                                               value=""
                                               required/>
                                        <p class="invalid-feedback errors alert alert-danger text-black-50"
                                           style="font-size: unset">
                                            Password is required and should be at least 5 symbols.
                                        </p>
                                    </div>
                                    <div class="col-12">
                                        <input th:field="*{confirmPassword}"
                                               name="confirmPassword"
                                               th:errorclass="is-invalid"
                                               type="password"
                                               class="form-control form-control-sm"
                                               id="confirmPassword"
                                               placeholder="Confirm password"
                                               value="" required/>
                                        <p class="invalid-feedback errors alert alert-danger text-black-50"
                                           style="font-size: small">
                                            Password should match.
                                        </p>
                                    </div>
                                    <div class="col-12">
                                        <div class="d-grid">
                                            <button class="btn btn-sm btn-danger" type="submit">Sign up</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Hero Section -->
</main>

<!-- ======= Footer ======= -->
<footer th:replace="~{fragments/footer :: footer}"></footer>
<!-- End Footer -->


<div th:replace="~{fragments/js :: js}"></div>
</body>
</html>